
<main>        
	<section class="well well4">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-sm-12 col-xs-12">

					<div class="image-slider">
						<div><img class="thumbnail" src="http://placehold.it/350x400" alt=""></div>
						<div><img class="" src="http://placehold.it/350x400" alt=""></div>
						<div><img class="" src="http://placehold.it/350x400" alt=""></div>
						<div><img class="" src="http://placehold.it/350x400" alt=""></div>
						<div><img class="" src="http://placehold.it/350x400" alt=""></div>
						<div><img class="" src="http://placehold.it/350x400" alt=""></div>
					</div>


				</div>
				<div class="col-md-4 col-sm-12 col-xs-12">

					<div class="panel panel-info news-panel">
						<div class="panel-heading">
							<h2 class="panel-title">Recent News</h2>
						</div>
						<div class="panel-body">
							Panel content
						</div>
					</div>


				</div>
			</div>
		</div>
	</section>

	<section class="well well4 bg1 wow fadeIn" data-wow-duration='3s'>
		<div class="container">
			<h2>
				meet our
				<small>
					groups
				</small>
			</h2>
			<div class="row offs3 center767">
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="thumbnail1">
						<img class="" src="http://placehold.it/350x400" alt="">
						<div class="caption">
							<h4>
								<a href="#">
									Aerodynamics
								</a>
							</h4>
							<p>
								Aerodynamics is the study of how gases interact with moving bodies. Because the gas that we encounter most is air, aerodynamics is primarily concerned with the forces of drag and lift, which are caused by air passing over and around solid bodies
							</p>
						</div>  
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="thumbnail1">
						<img class="" src="http://placehold.it/350x400" alt="">
						<div class="caption">
							<h4>
								<a href="#">
									Chassis &amp; Steering
								</a>
							</h4>
							<p>
								The chasis team ensure the car meet the safety requirements, as well as choosing blah blah blah.

							</p>
						</div>  
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="thumbnail1">
						<img class="" src="http://placehold.it/350x400" alt="">
						<div class="caption">
							<h4>
								<a href="#">
									Powertrain 
								</a>
							</h4>
							<p>
								Powertrain team is in charge of energy economy..
							</p>
						</div>  
					</div>
				</div>
				<div class="col-md-3 col-sm-6 col-xs-12">
					<div class="thumbnail1">
						<img class="" src="http://placehold.it/350x400" alt="">
						<div class="caption">
							<h4>
								<a href="#">
									Marketing
								</a>
							</h4>
							<p>
								Admin team sorts out our public appearance, finance, ...
							</p>
						</div>  
					</div>
				</div>
			</div>
		</div>
	</section>    

</main>