
body {
  /*background: #30353a;*/
  font-family: "Lato", Georgia, Serif, serif;;
}

#terminal {
  color: white;
  font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
  font-size: 11pt;
  padding: 10px;
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  top: 30px;
  bottom: 0;
  overflow: auto;



}


#terminal > #input {
  outline-color:  #30353a;
  border:         none;
  display:        inline-block;
}


.tick {
  color: #EC4891;
}

.root {
  color: #95F584;
}
